@using DirectionRegistration.Models
@model IList<StudentInfoViewModel>
@foreach (StudentInfoViewModel d in Model)
{
<tr>
    <td>@d.Number</td>
    <td>@d.Name</td>
    <td>@d.Gender</td>
    <td>@d.Major</td>
    <td>
        <button onclick="showModify('@d.Id')" class="btn btn-default" data-toggle="modal" data-target="#myModal">修改</button>
        @Ajax.ActionLink("删除", "Delete",
            new { Id = d.Id },
            new AjaxOptions() {HttpMethod="POST", OnSuccess= "onDelSuccess", LoadingElementId = "loading", Confirm="确定要删除吗？"},
            new { @class = "btn btn-warning" })
        @Ajax.ActionLink("重置密码", "RePassword", "Student",
                     new { Id = d.Id },
                     new AjaxOptions() { HttpMethod="POST", OnSuccess= "onRePasswordSuccess", LoadingElementId = "loading", Confirm = "确定要重置密码吗？" },
                     new { @class = "btn btn-danger" })
        <button onclick="showScore('@d.Id')" class="btn btn-primary" data-toggle="modal" data-target="#myModal">成绩详情</button>
    </td>
</tr>
}