@using DirectionRegistration.Web.Helper
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>四川大学锦城学院-计算机与软件学院-方向志愿填报平台 - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/toastr.min.css" type="text/css" rel="stylesheet"/>
    <style type="text/css">
        body{
            padding-top:50px;
            font-size:16px;
        }
        .form-width-auto{
            width:auto;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
                @Html.ActionLink("计算机与软件学院方向志愿填报平台", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse"  id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    @if (Session["admin"] != null && Session["admin"].ToString() != string.Empty)
                    {
                        <li>@Html.ActionLink("管理面板", "Index", "Admin")</li>
                        if (CheckSuperHelper.IsSuper(Session["admin"].ToString()))
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">系统管理<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("学生设置", "Index", "Student")</li>
                                    <li>@Html.ActionLink("课程设置", "Index", "Course")</li>
                                    <li>@Html.ActionLink("方向设置", "Index", "Direction")</li>
                                    <li>@Html.ActionLink("教师设置", "Index", "Teacher")</li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#" id="btn-settings" data-remote="false" data-toggle="modal" data-target="#myModal">参数设置</a></li>
                                    <li>@Html.ActionLink("导出志愿", "DownloadData", "Admin")</li>
                                </ul>
                            </li>
                        }
                        <li>@Html.ActionLink("修改密码", "ChangePassword", "Home")</li>
                        <li>@Html.ActionLink("退出", "Quit", "Home")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("填报", "Index", "Home")</li>
                        if (Session["currStu"] != null && Session["currStu"].ToString() != string.Empty)
                        {
                            <li>@Html.ActionLink("修改密码", "ChangePassword", "Home")</li>
                            <li>@Html.ActionLink("退出", "Quit", "Home")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("登录", "Login", "Home")</li>
                        }
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 四川大学锦城学院 - 计算机与软件学院</p>
        </footer>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <!--modal body-->
                </div>
                <div class="modal-footer">
                    <img id="loading" style="display:none;" src="~/Content/Images/loading.gif" />
                    <button id="btn-save" type="button" class="btn btn-success">保存</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            toastr.options.positionClass = 'toast-top-center';
            toastr.options.timeOut = 1000;
            var path = location.pathname;
            var navs = $('ul.navbar-nav li');
            for (var i = 0; i < navs.length; i++) {
                if ($(navs[i]).find('a').attr('href') == path) {
                    $(navs[i]).addClass('active');
                } else {
                    $(navs[i]).removeClass('active');
                }
            }
            $("#myModal").on("show.bs.modal", function (e) {
                var modal = $(this);
                var t = modal.attr('cust-title');
                var u = modal.attr('cust-content');
                var s = modal.attr('cust-submit');
                if (t && t != "") {
                    modal.find('.modal-title').text(t);

                    $.get(u, function (data, status) {
                        if (data.indexOf('<html>')>0) {
                            window.location.href = '@Url.Action("Login","Home")';
                        } else {
                            modal.find('.modal-body').html(data);
                        }
                    });

                    var btn = modal.find('#btn-save');
                    if (s && s == "保存") {
                        btn.show();
                        btn.text(s).one("click",function () {
                            modal.find('form').submit();
                        });
                    } else if (s == "导入") {
                        btn.show();
                        btn.text(s);
                    }
                    else {
                        btn.hide();
                    }
                } else {
                    modal.modal('close');
                }
            }).on('hidden.bs.modal', function (e) {
                var modal = $(this);
                var btn = modal.find('#btn-save');
                btn.off("click");
                modal.find('.modal-title').empty();
                modal.find('.modal-body').empty();
                modal.attr('cust-title', '');
                modal.attr('cust-content', '');
                modal.attr('cust-submit', '');
            });
        });

        function handleModal(args) {
            var self = $("#myModal");
            self.attr('cust-title', args.title);
            self.attr('cust-content', args.url);
            if (args.submit) {
                self.attr('cust-submit', args.submit);
            }
        }
    </script>
    @if (Session["admin"] != null && Session["admin"].ToString() != string.Empty)
    {
    <script>
        $(document).ready(function () {
            $('#btn-settings').click(function () {
                handleModal({
                    title: '参数设置',
                    url: '@Url.Action("Setting", "Admin")',
                    submit:'保存'
                });
            });
        });
    </script>
    }

    @RenderSection("scripts", required: false)
</body>
</html>
