@model DirectionRegistration.Repository.Entities.Teacher
<div class="container-fluid">
    @{
        AjaxOptions addOptions = new AjaxOptions()
        {
            HttpMethod = "POST",
            Url = @Url.Action("AdminAdd", "Admin"),
            LoadingElementId = "loading",
            UpdateTargetId = "admins"
        };
    }
    @using (Ajax.BeginForm(addOptions))
    {
        @Html.ValidationSummary()
        <div class="form-group">
            <div class="col-sm-12">
                <label for="title" class="control-label">登录名：</label>
            </div>
            <div class="col-sm-8">
                <div class="text-danger">
                    @Html.ValidationMessageFor(m => m.LoginName)
                </div>
                @Html.TextBoxFor(m => m.LoginName, new { @class = "form-control input" })
            </div>
            <div class="col-sm-4">
                <input type="submit" value="添加" class="btn-success btn" />
                <img id="loading" style="display:none;" src="~/Content/Images/loading.gif" />
            </div>
        </div>
    }
    <div class="row">
        <table class="table table-striped col-md-9">
            <thead>
                <tr>
                    <th>管理员登录名</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="admins">
                @Html.Action("GetAdmins", "Admin")
            </tbody>
        </table>
    </div>
</div>

