@model DirectionRegistration.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "修改密码";
}

<div class="alert alert-danger" style="display:none;" id="my-alert">
    <button class="close" type="button">&times;</button>
    <strong></strong>
</div>
<div class="page-header">
    <h3>修改密码</h3>
</div>
<div class="row">
    @using (Ajax.BeginForm("ChangePassword","Home", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "onSuccess", LoadingElementId = "loading" }, new { @class = "col-sm-6 col-sm-offset-3 panel panel-body" }))
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.Id)
        <div class="form-group">
            <div class="col-sm-12">
                <div class="text-danger">
                    @Html.ValidationMessageFor(m => m.OldPassword)
                </div>
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control input-lg", placeholder = "现密码" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <div class="text-danger">
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control input-lg", placeholder = "新密码" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <div class="text-danger">
                    @Html.ValidationMessageFor(m => m.RePassword)
                </div>
                @Html.PasswordFor(m => m.RePassword, new { @class = "form-control input-lg", placeholder = "确认新密码" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-success btn-block btn-lg">保存</button>
            </div>
        </div>        
    }
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#my-alert .close').click(function () {
                $('#my-alert').slideUp();
            });
        });

        function onSuccess(d) {
            $('#myModal').modal('hide')
            if (d.code == 1) {
                myAlert(d.data);
            } else {
                myAlert(d.data);
            }
        }
        function myAlert(info) {
            $('#my-alert strong').text(info);
            $('#my-alert').slideDown();
        }
    </script>
}
