@model DirectionRegistration.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
}

<div class="page-header">
    <h2>修改登录密码</h2>
</div>
<div class="row">
    @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post, new { @class = "col-sm-6 col-sm-offset-3 panel panel-body" }))
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.Id)
        <div class="form-group">
            <div class="col-sm-12">
                <div class="text-danger">
                    @Html.ValidationMessageFor(m => m.OldPassword)
                </div>
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control input-lg", placeholder = "旧密码" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <div class="text-danger">
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control input-lg", placeholder = "新密码" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <div class="text-danger">
                    @Html.ValidationMessageFor(m => m.RePassword)
                </div>
                @Html.PasswordFor(m => m.RePassword, new { @class = "form-control input-lg", placeholder = "确认新密码" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary btn-block btn-lg">保存</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <p class="text-primary text-center">@ViewBag.Info</p>
            </div>
        </div>
    }
</div>
