@model DirectionRegistration.Models.IndexViewModel
@using DirectionRegistration.Models
@{
    ViewBag.Title = "方向填报";
}

<div class="page-header">
    <h3>方向填报 - [@Model.Name : @Model.Number]<span class="label label-danger pull-right">截止时间：@ViewBag.Deadline</span></h3>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">方向列表<span class="pull-right" style="color:red;"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>拖动鼠标进行排序，以确定志愿顺序。</span></h3>
    </div>
    <div class="panel-body">
        <div class="col-sm-6 col-sm-offset-3">
            <ul id="dlist" style="padding:0px;font-weight:bold;" class="list-group">
                @{
                    foreach (var item in Model.Directions)
                    {
                        <li data-id="@item.Id" class="list-group-item" style="cursor:pointer;">
                            <span class="badge pull-left" style="background-color:brown;margin-right:6px;">@item.Order</span>
                            <p style="font-size:1em;">@item.DirectionName</p>
                        </li>
                    }
                }
            </ul>
            @{
                if ((bool)ViewBag.IsOverTime)
                {
                    <button type="button" class="btn btn-primary btn-block btn-lg disabled">确认志愿（填报结束）</button>
                }
                else
                {
                    <button id="btn-ok" type="button" class="btn btn-primary btn-block btn-lg">确认志愿</button>
                }
            }
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Sortable.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            prepareSortable();

            $('#btn-ok').click(function () {
                var b = confirm('是否确认提交?');
                if (b) {
                    var udata = getValues();
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("Save")',
                        data: JSON.stringify(udata),
                        dataType: 'json',
                        contentType: 'application/json',
                        success: function (d) {
                            if (d.code == 0) {
                                toastr.success(d.data);
                            } else {
                                toastr.warning(d.data);
                            }
                        }
                    });
                }
            });
        });

        function prepareSortable() {
            var list = document.getElementById('dlist');
            freshOrders();
            Sortable.create(list, {
                onEnd: function (evt) {
                    freshOrders();
                }
            });
        }

        function freshOrders() {
            var orders = $('#dlist span');
            for (var i = 0; i < orders.length; i++) {
                orders[i].innerHTML = i + 1;
                orders[i].style.backgroundColor = "brown";
                orders[i].parentElement.style.borderColor = "brown";
            }
        }

        function getValues() {
            var value = { Sid: '@Model.Id' };
            var orders = [];
            var items = $('#dlist li');
            for (var i = 0; i < items.length; i++) {
                var item = $(items[i]);
                orders.push({
                    Did: item.attr('data-id'),
                    Order: item.find('span').text()
                });
            }
            value.Orders = orders;
            return value;
        }

    </script>
}