@model DirectionRegistration.Models.DirectionViewModel

@using (Ajax.BeginForm("Modify", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "onModifySuccess", LoadingElementId = "loading" }, new { @class = "form-inline" }))
{
    <div class="form-group col-sm-4">
        <label class="sr-only" for="courseName">方向名</label>
        @Html.HiddenFor(model => model.Id)
        @Html.TextBoxFor(model => model.Title, new { @class = "form-control", placeholder = "方向名" })
    </div>
    <div class="form-group col-sm-3">
        <label class="sr-only" for="courseName">人数上限</label>
        @Html.TextBoxFor(model => model.Max, new { @class = "form-control", placeholder = "人数上限" })
    </div>
    <div class="form-group col-sm-3">
        <label class="sr-only" for="courseName">方向负责人</label>
        @Html.HiddenFor(model => model.Id)
        <div class="form-group">
            <label class="sr-only" for="courseName">方向负责人</label>
            @Html.DropDownListFor(model => model.TeacherId, ViewBag.Teachers as List<SelectListItem>, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">保存</button>
        <img id="loading" style="display:none;" src="~/Content/Images/loading.gif" />
    </div>
}


